{% extends "menubase.html" %}
{% include "_autoform.html" %}
{% block content %}
    <div style="height:100px;"></div>
    <hr/>
    <div id="postform" class="postform">
        <form action="#" method="post" class="editpostform" id="editpostform">
                {% csrf_token %}
            <input style="display:none;" name="id" value="{% if post.id %}{{ post.id }}{% else %}new{% endif %}"/>
            <div class="field"><p><input value="{{ post.title }}" type="text" placeholder="标题" name="title"/></p></div>
            <textarea name="content" id="content" class="ckeditor">{% if post.content %}{{ post.content }}{% endif %}</textarea>
            <button class="submit" type="submit">确定</button>
        </form>
    </div>

{% endblock content %}