{% extends "base.html" %}
{% block title %}NvRay's Blog{% endblock title %}
{% block banner %}<div style="padding:40px 200px;"><p style="font-size:40px;color:#FFF;font-weight: bold">NvRay's Blog</p></div>{% endblock banner %}

{% block navbar %}
    <div id="menu" class="menu">
        <div id="li" class="li">
            <ul>
                <li class="li-active"><a href="{% url 'index' %}"><i class="icon-home"></i> 主页</a></li>
                <li><a href="{% url 'blog' %}"><i class="icon-book"></i> 博客</a></li>
                <li><a href="{% url 'tool' %}"><i class="icon-inbox"></i> 工具</a></li>
                <li><a href="{% url 'aboutme' %}"><i class=" icon-group"></i> 关于</a></li>
            </ul>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>
                        <script>toastr.{{ message.tags }}("{{ message }}");</script>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="loginbtn" class="loginbtn">
            {% if user.is_authenticated %}
                <a href="#"><i class="icon-user"></i> {{ user.username }} <i class="icon-angle-down"></i></a>
                <ul>
                    <li><i class="icon-user"></i><a href="{% url 'editpost' 'new' %}">{{ user.username }}</a></li>
                    <li><i class="icon-signout"></i><a href="{% url 'logout' %}">注销</a></li>
                </ul>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock navbar %}

{% block foot %}
    <div class="foot-box">

        <p> © 2016 Django | <a href="{% url 'login' %}">Powered by NvRay</a> | <a href="https://github.com/rui7157"
                                                                                  target="_blank"><i
                class="icon-github-alt"></i> Github</a> | <a href="{% url 'register' %}">注册</a></p>
    </div>
{% endblock foot %}


