{% extends "menubase.html" %}
{#{% import "_autoform.html" as autoform%}#}
{% block content %}
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name: "nvray"};
        (function () {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';
            ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->
    <div class="single-post">
        <div style="height:100px;"></div>
        <div class="hr">
            <hr/>
        </div>
        <div id="blog_post" class="blog-post">
            <h1>{{ post.title }}</h1>
            <br/>
            <div class="timestamp"><p><i class="icon-calendar"></i> {{ post.add_date }}</p></div>
            <br/>

            {% if user.is_authenticated %}
                <div class="edit"><p><span class="post-delete"><a href="{% url 'delpost' post.id %}"><i class="icon-trash"></i>删除</a></span><span
                        class="post-edit"><a href="{% url 'editpost' post.id %}"><i class=" icon-edit"></i>编辑</a></span>
                </p></div>
            {% endif %}

            <p>{{ post.content_show|safe }}</p>
        </div>
        <div class="hr">
            <hr/>
        </div>
        <a name="ds" id="ds"></a>
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="{{ post.id }}" data-title="{{ post.title }}"
             data-url="{% url 'post' post.id %}"></div>
        <!-- 多说评论框 end -->


    </div>
    <div class="fixed-btn">
        <a class="fixed go-top" href="#"><i class="icon-arrow-up"></i></a>
        {% if current_user.is_authenticated %}
            <a class="fixed edit-post" href="{% url 'editblog' %}"><i class="icon-pencil"></i></a>{% endif %}


    </div>

{% endblock content %}